# Ne PAS embarquer dans le .vsix (le code reste public sur GitHub)
!package.json
!README.md
!LICENSE
!dist/**
!media/**
src/**
test/**
node_modules/**
**/*.map
**/*.ts
esbuild.mjs
tsconfig.json
vitest.config.ts
.vscode/**
.gitignore
.claude/**
**/*.vsix
